<h1>
  Topics
  <%= link_to "New Topic", new_topic_path, class: 'btn btn-small btn-default pull-right' %>
</h1>

<% @topics.each do |topic| %>
<div class="col-md-12">
  <h3>
    <%= render partial: 'topic', locals: {topic: topic} %>
  </h3>
  <% topic.bookmarks.each do |bookmark| %>
    <%= render partial: 'bookmarks/bookmark', locals: {bookmark: bookmark} %>
  <% end %>
</div>
<% end %>